body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #005f73;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 10px;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}
main{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
 .external-links, #comparision-table {
    margin: 20px;
    padding: 20px;
     border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    width: 95%; 
}
.picSection{
    display: flex;
    flex-direction: column;
    margin-left: 00px;
    margin-top: 40px;
    gap: 40px;
}

#comparison-table {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
     text-align: left;
}

th {
    background-color: #f4f4f4;
}

footer {
    background-color: #005f73;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
} 
.rolex, .bulgari,.mk, .intro{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 2px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 8px;
    margin-right: 20px;
    margin-left: 20px;

}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin: 0 15px;
}

footer ul li a {
    color: white;
    text-decoration: none;
}

/* @media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin-bottom: 10px;
    }
} */